{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Daily Guide{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/receipt.css' %}" rel="stylesheet">
    <style>
    </style>
    
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    {% block content %}
    {% endblock content %}

    {% block extra_before_js %}{% endblock extra_before_js %}

    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/receipt.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
