<header>
    <h2>
    <img src="/static/img/anchor3_wh.png" width="44">
    <br>Welcome to Locally Made<br>
    <span>----------------------------------</span></h2>
    
    <p><strong>It is now</strong>: {{ now|date:"fa" }} on {{ now|date:"l," }}<br/>{{ now|date:"F j Y" }}.</p>
    <p><strong>You are at</strong>: the Lower Farago entrance of the RISD Museum.</p>

    {% if temp %}
    <p><strong>Outside it is</strong>: {{ temp.weather|lower }} and {{ temp.temp_f }}&#176;F</p>
    {% endif %}

    <h2><span>----------------------------------</span></h2>

</header>

<section class="status">
    
</section>

<section class="date">
    <h1><span id="month">{{ now|date:"m" }}</span><span class="light">/</span><span id="day">{{ now|date:"d" }}</span></h1>
</section>

{% if present_event %}
<section class="upcoming">
    <h2><span>----------------------------------</span><br>Taking place now<br>
    <span>----------------------------------</span></h2>

    <ul>
        {% for event in present_event %}
        <li>
            <h3>{{ event.start|date:"g" }}<span class="medium">:</span>{{ event.start|date:"i" }}</h3>
            <p><span class="highlight">{{ event.event_type }}</span>: {{ event.title }} in the {{ event.location }} until about {{ event.end|date:"g" }}{% if event.end|date:"i" %}{{ event.end|date:":i"}}{% endif %}{{ event.end|date:"a"}} {{event.more_on}} {{ event.notes }}</p>

            <div class="person">
                <div class="name"><h4>{% autoescape off %}{{ event.template_headline }}{% endautoescape %}</h4></div>
                {% if event.image %}
                <div class="image"><div><img src="{{ event.processed_image }}"></div></div>   
                {% endif %}
            </div>
            <p class="divider">* * *</p>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% if future_event %}
<section class="upcoming">
    <h2><span>----------------------------------</span><br>Today's upcoming events<br>
    <span>----------------------------------</span></h2>

    <ul>
        {% for event in future_event %}
        <li>
            <h3>{{ event.start|date:"g" }}<span class="medium">:</span>{{ event.start|date:"i" }}</h3>
            <p><span class="highlight">{{ event.event_type }}</span>: {{ event.title }} in the {{ event.location }} until about {{ event.end|date:"g" }}{% if event.end|date:"i" %}{{ event.end|date:":i"}}{% endif %}{{ event.end|date:"a"}} {{event.more_on}} {{ event.notes }}</p>
            <div class="person">
                <div class="name"><h4>{% autoescape off %}{{ event.template_headline }}{% endautoescape %}</h4></div>
                {% if event.image %}
                <div class="image"><div><img src="{{ event.processed_image }}"></div></div>
                {% endif %}
            </div>
            <p class="divider">* * *</p>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% if past_event %}
<section class="earlier">
    <h2><span>------------------------------- </span><br>Earlier today<br>
        <span>------------------------------- </span></h2>
    <ul>
        {% for event in past_event %}
        <li>
            <p><span class="highlight">{{ event.event_type }}</span>: {{ event.title }}. {% autoescape off %}{{ event.more_on_past }}{% endautoescape %}</p>
            {% if event.image %}
            <div class="image"><img src="{{ event.processed_image }}"></div>   
            {% endif %}
            <p class="divider">* * *</p>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}


{# always show #}
<section class="permanent">
    <h2><span>------------------------------- </span><br>On view until November 3rd<br>
    <span>------------------------------- </span></h2>
        <h3>Upper Farago</h3>
        <p>55 recent prints, drawings and sculptures from 36 artists selected from the Museum's permanent collection.</p>
        <p class="divider">* * *</p>
        <h3>Spalter New Media Gallery</h3>
        <p>3 screens of recent works by 8 Providence-area video artists.</p>
        <p class="divider">* * *</p>
        <h3>Elsewhere in the Museum</h3>
        <p>The anchor symbol next to artworks throughout the Museum denotes pieces created in the Providence area.
        <h2>
        <img src="/static/img/anchor2.png" width="45"> </h2>
        </p>
</section>



{# always show #}
<footer>
    <h2><span>------------------------------- </span><br>Thank you for coming,<br>please come again<br><span>------------------------------- </span></h2>
        <p>There are {{ future_events_count }} more events from local artists including {{ random_future_artist_1.first_name }} {% if random_future_artist_1.last_name %}{{random_future_artist_1.last_name }}{% endif%} and {{ random_future_artist_2.first_name }} {% if random_future_artist_2.last_name %}{{ random_future_artist_2.last_name }}{% endif%}. Visit <span class="highlight">risdmuseum.org</span> on your phone or desktop to see photos of today's events and details on future events.</p>
        <p>This daily guide to the exhibit was created by The Design Office of Providence, R.I. </p>
        <p class="divider">* * *</p>
        <p><img src="/static/img/risd_logo6.png" width="80"><br><span class="highlight">RISD Museum</span>&nbsp;/&nbsp;20 North Main Street<br>Providence, R.I. 02906 /<br>@risdmuseum #oneroommuseum /<br>risdmuseum.org</p>
</footer>
